@font-face {
  font-family: 'oldLondon';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/OldLondon.ttf");
}

h1.text-nowrap {
    font-size: 60pt;
    font-family: 'oldLondon';
}

/* skinart */
.skin-button:not(.skinart) {
  margin: 1px !important;
}
.skin-button.skinart {
  margin: 0px !important;
}
.skin-2d.skin-button:not(.skinart) {
  border-radius: 3px !important;
}
.skin-2d.skin-button.skinart {
  border-radius: 0% !important;
}

/* settings */
#accentColor {
  -webkit-appearance: none;
  border: none;
}
#accentColor::-webkit-color-swatch {
  border: none;
}
#accentColor::-webkit-color-swatch-wrapper {
  padding: 0;
}