:root {
    --bg: rgb(5, 5, 5);
    --main: rgb(5, 5, 5);
    --card: rgb(10, 10, 10);
    --input-group: rgb(15, 15, 15);
    --input-group-border: rgb(20, 20, 20);
    --input-group-border-hover: rgb(30, 30, 30);
    --input-group-border-focus: rgb(40, 40, 40);
    --link-color-transparent: #2fc7e227;
    --link-color: #2d95db;
    --emerald-color: rgb(26, 170, 38);
    --mod-color: rgb(180, 25, 25);
}

body {
    background-color: var(--bg) !important;
}

main, header, footer {
    background-color: var(--main) !important;
}

.checkered {
    background-image: none !important;
}

.card {
    background-color: var(--card) !important;
}

.input-group:not(.input-group-alt), .form-control {
    background-color: var(--input-group) !important;
    border-color: var(--input-group-border) !important;
}

.table td, .table th {
    border-top: 1px solid var(--input-group-border) !important;
}

.input-group:not(.input-group-alt).focus, .form-control:focus {
    box-shadow: 0 0 0 1px var(--input-group-border-focus) !important;
}

a:not([class*="rank"]):not([class*="nav"]):not([class*="dropdown"]), .page-item.active .page-link, .nav-link:focus, .nav-link.active, .nav-link:hover {
    color: var(--link-color) !important;
}
.nav-link.active, .badge-primary, a.badge-primary:focus, a.badge-primary:hover {
    background-color: var(--link-color-transparent) !important;
}

.page-item.active .page-link {
    background-color: var(--link-color-transparent) !important;
}

.btn-primary {
    border: unset !important;
    background-color: var(--link-color-transparent) !important;
    color: var(--link-color) !important;
}

.dropdown-menu, .popover-header {
    background-color: var(--input-group) !important;
}

.dropdown-item:hover, .popover {
    background-color: var(--input-group-border) !important;
}
.bs-popover-top > .arrow:after {
    border-top-color: var(--input-group-border) !important;
}
.dropdown-item.active {
    background-color: var(--input-group-border-hover) !important;
}

.btn-secondary {
    box-shadow: 0 1px 0 0 var(--input-group-border) !important;
    border-color: var(--input-group-border) !important;
    background: linear-gradient(180deg,var(--input-group), var(--input-group-border)) !important;
}

.skin-button-selected {
    box-shadow: 0 0 10px var(--link-color) !important;
}

.bg-info {
    background-color: var(--link-color-transparent) !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: var(--link-color) !important;
}

/* removed borders */
hr {
    border-top: 1px solid rgba(0, 0, 0, 0) !important;
}
.card {
    box-shadow: unset !important;
}
.card-header, .nav-tabs {
    border-bottom: unset !important;
}
.table td, .table th {
    border-top: unset !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #4b4b4b;
    border-radius: 3px;
}

/* rank colors */

.namemc-rank-10, .namemc-rank-10:visited, .namemc-rank-10:link {
    color: var(--emerald-color) !important;
}

.namemc-rank-100, .namemc-rank-200, .namemc-rank-900, .namemc-rank-1000, .namemc-rank-100:visited, .namemc-rank-200:visited, .namemc-rank-900:visited, .namemc-rank-1000:visited, .namemc-rank-100:link, .namemc-rank-200:link, .namemc-rank-900:link, .namemc-rank-1000:link {
    color: var(--mod-color) !important;
}

.dropping {
    background-color: var(--link-color-transparent) !important;
}