:root {
    --bg: rgb(0, 0, 0);
    --main: rgb(5, 5, 5);
    --card: rgb(15, 15, 15);
    --input-group: rgb(25, 25, 25);
    --input-group-border: rgb(30, 30, 30);
    --input-group-border-focus: rgb(100, 100, 100);
    --link-color: rgb(0, 103, 200);
}

body {
    background-color: var(--bg) !important;
}

main, header, footer {
    background-color: var(--main) !important;
}

.checkered {
    background-image: none !important;
}

.card {
    background-color: var(--card) !important;
}

.input-group:not(.input-group-alt), .form-control {
    background-color: var(--input-group) !important;
    border-color: var(--input-group-border) !important;
}

.table td, .table th {
    border-top: 1px solid var(--input-group-border) !important;
}

.input-group:not(.input-group-alt).focus, .form-control:focus {
    box-shadow: 0 0 0 1px var(--input-group-border-focus) !important;
}

a {
    color: var(--link-color);
}

.dropdown-menu, .popover-header {
    background-color: var(--input-group) !important;
}